/* Basic Settings */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Style for the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #242126;
    color: #fafbfb;
}

/* Style for header container */
.header-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
}

/* Style for the header content */
.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}


/* Style for the header */
h1 {
    /* background-color: #a1716f; */
    color: #f5f6f4;
    text-align: center;
    padding: 10px;
    margin: 0;
    flex: 1;
}

/* Style for search bar */
.search {
    display: flex;
    align-items: right;
}

.search input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 4px;
    width: 200px;
    margin-right: 10px;
}

.search button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d98cb6;
    color: #f5f6f4;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.search button:hover {
    background-color: #be789f;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}


/* Style for the paragraphs */
p {
    margin-bottom: 15px;
    padding: 0 0 20px 20px;
}

/* Style for the links */
a {
    color: #d08e9d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Flexbox container for centering the image */
.img-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* Style for images */
img {
    max-width: 100%;
    height: auto;
}